@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f5f5f5;
}
section {
  margin-bottom: 80px;
}

.container {
  margin: 24px 100px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px;
}

.navbar button {
  padding: 10px 20px;
  border: 2px solid #c6e4d6;
  border-radius: 10px;
  color: #1a7961;
  font-weight: 700;
}

/* hero-container */

.hero-section {
  background: #c6e4d6;
  padding: 100px 80px;
  border-radius: 24px;
}

.hero-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-container .title-description .title p {
  font-weight: 500;
  font-size: 24px;
  font-family: "Fira Sans", serif;
  color: rgba(14, 14, 14, 50%);
}

.hero-container .title-description .title h1 {
  font-weight: bold;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  font-size: 56px;
}

.hero-container .title-description .btn button {
  padding: 17px 34px;
  background: #006a50;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  margin-top: 48px;
  cursor: pointer;
}

.hero-container .image img {
  width: 474.03px;
  height: 400px;
}

/* card-one-section */

.card-one-section .title h1 {
  font-size: 40px;
  font-weight: bold;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  margin-bottom: 32px;
}

.card-one-section .card-body {
  display: flex;
}
.card-one-section .card {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
}
.card-one-section .card .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.card-one-section .card .description h2 {
  font-weight: 700;
  font-size: 20px;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}

.card-one-section .card .description p {
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  font-family: "Fira Sans", serif;
}

.card-a,
.card-b,
.card-c,
.card-d {
  margin-right: 24px;
}

/* section part three */

.part-three .description h1 {
  font-weight: bold;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
  font-size: 40px;
  margin-bottom: 24px;
}

.part-three .description p {
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  font-family: "Fira Sans", serif;
}

.part-three .card-body {
  display: flex;
  margin: 32px 32px;
}

.part-three .card {
  background: rgba(84, 144, 245, 20%);
  padding: 32px;
  border-radius: 16px;
}

.part-three .card-b {
  background: #c6e4d6;
}

.part-three .card-c {
  background: #f7ebcf;
}

.part-three .card .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 24px;
}

.part-three .card .description h2 {
  font-weight: 700;
  font-size: 20px;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
}

.part-three .btn-one button {
  padding: 11px 20px;
  background: #5490f5;
  border: none;
  border-radius: 8px;
  margin: 24px 0px 24px 0px;
}

.part-three .btn-two button {
  padding: 11px 20px;
  background: #09a15c;
  border: none;
  border-radius: 8px;
  margin: 24px 0px 24px 0px;
}

.part-three .btn-three button {
  padding: 11px 20px;
  background: #ffc239;
  border: none;
  border-radius: 8px;
  margin: 24px 0px 24px 0px;
}

/* card-younus */

.card-younus {
  padding: 48px 24px;
  background: #ffffff;
  border-radius: 16px;
  position: relative;
}
.card-younus .quotes img {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 10%;
}

.card-younus .quotes p {
  font-size: 16px;
  color: rgba(14, 14, 14, 80%);
  font-family: "Fira Sans", serif;
  margin-bottom: 12px;
}
.card-younus .adviser h2 {
  font-weight: 600;
  font-size: 20px;
  color: #0e0e0e;
  font-family: "Fira Sans", serif;
}

.card-younus .adviser p {
  font-size: 16px;
  color: rgba(14, 14, 14, 60%);
  font-family: "Fira Sans", serif;
}
